
.icon-resize-full:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-download-alt:before { content: '\e802'; } /* '' */
.icon-shuffle:before { content: '\e803'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-trademark:before { content: '\f25c'; } /* '' */